<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.TextEditor" version="3.2.1.6466" targetFramework="net462" />
  <package id="SharpZebra.rkone" version="1.0.3" targetFramework="net462" />
  <package id="SimpleQuery.Core" version="1.0.5" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net462" />
</packages>